<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Auto Answer</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body class="d-flex justify-content-center align-items-center vh-100 bg-light">
<div class="card shadow-lg p-4">
    <h4 class="text-center mb-3">Telegram Auto Answer</h4>
    <form th:method="POST" th:action="@{/login}">
        <div class="container mt-5" style="max-width: 100vh;">
            <div class="card shadow-lg rounded-4">
                <div class="card-body p-4">
                    <h4 class="card-title mb-4 text-center">Данные собеседника</h4>

                    <form>
                        <div class="mb-3">
                            <label for="login" class="form-label">Введите логин собеседника</label>
                            <input type="text" id="login" name="login" class="form-control" placeholder="Введите логин" required>
                        </div>

                        <div class="mb-3">
                            <label for="name" class="form-label">Введите имя собеседника</label>
                            <input type="text" id="name" name="name" class="form-control" placeholder="Имя собеседника">
                        </div>

                        <div class="mb-3">
                            <label for="gender" class="form-label">Выберите пол собеседника</label>
                            <select id="gender" name="gender" class="form-select">
                                <option value="" disabled selected>-- Выберите пол --</option>
                                <option value="MALE">MALE</option>
                                <option value="FEMALE">FEMALE</option>
                            </select>
                        </div>

                        <div class="mb-4">
                            <label for="type" class="form-label">Выберите стиль общения</label>
                            <select id="type" name="type" class="form-select">
                                <option value="" disabled selected>-- Выберите стиль --</option>
                                <option value="FAMILY">FAMILY</option>
                                <option value="OFFICIAL">OFFICIAL</option>
                                <option value="FRIEND">FRIEND</option>
                                <option value="ENEMY">ENEMY</option>
                                <option value="STRANGER">STRANGER</option>
                                <option value="COLLEGE">COLLEGE</option>
                            </select>
                        </div>

                        <div class="mb-4">
                            <label for="neuralModel" class="form-label">Модель нейросети</label>
                            <select class="form-select" id="neuralModel" name="neuralModel" required>
                                <option disabled selected value="">-- Выберите модель --</option>
                                <option th:each="model : ${neuralModels}"
                                        th:value="${model.name()}"
                                        th:text="${model.name()}">
                                </option>
                            </select>
                        </div>

                        <div class="d-grid">
                            <button type="submit" class="btn btn-primary">Сохранить</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </form>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
